<ng-container *ngIf="course; else loading">
  <mat-card>
    <mat-card-title>
      {{ course.title }} {{ selectedSection?.header }}
    </mat-card-title>
    <mat-card-content>
      <section *ngFor="let section of course.sections">
        <app-section
          [section]="section"
          (selected)="onSectionSelected($event)"
        ></app-section>
      </section>
    </mat-card-content>
  </mat-card>
</ng-container>
<ng-template #loading>
  <mat-card>
    <mat-spinner class="spinner"></mat-spinner>
  </mat-card>
</ng-template>
