<form [formGroup]="sectionForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="section-edit">
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Header" formControlName="header" />
            <mat-error
              *ngIf="sectionForm.controls['header'].hasError('required')"
            >
              Header is <strong>required</strong>
            </mat-error>
            <mat-error
              *ngIf="sectionForm.controls['header'].hasError('maxlength')"
            >
              Keep headers short.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-button-toggle-group formControlName="type" matInput>
            <mat-button-toggle
              *ngFor="let type of types"
              [value]="type.id"
              matInput
            >
              {{ type.label }}
            </mat-button-toggle>
          </mat-button-toggle-group>
          <!-- <mat-radio-group  formControlName="type">
              <mat-radio-button *ngFor="let type of types" [value]="type.id">
                {{ type.label }}
              </mat-radio-button>
            </mat-radio-group> -->
          <!--  <mat-form-field class="full-width">
              <mat-select placeholder="Type" formControlName="type">
              <mat-option *ngFor="let type of types" [value]="type.id">
                {{ type.label }}
              </mat-option>
            </mat-select>  </mat-form-field>-->
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea
              cdkTextareaAutosize
              matInput
              placeholder="Content"
              formControlName="content"
            ></textarea>
            <mat-error
              *ngIf="sectionForm.controls['content'].hasError('required')"
            >
              Content is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
